.wrapper_serviceL {
  padding: 0 24px;
}

.heading_serviceL {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #ff7506;
  margin: 16px 0;
}
.filter_serviceL {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  margin-right: 104px;
}

.dropdown-wrap_serviceL {
  display: flex;
  gap: 24px;
}
.dropdown_serviceL {
  width: 300px;
}

.search-wrap_serviceL {
  width: 300px;
}

.title_serviceL {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 4px;
}

.wrap-table_serviceL {
  position: relative;
  padding-right: 104px;
}

.wrap-btn_serviceL {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  top: 0;
  right: -24px;
  width: 80px;
  background-color: #fff2e7;
  padding: 14px 4px;
  box-shadow: 0px 0px 6px #e7e9f2;
  border-radius: 8px 0px 0px 8px;
  cursor: pointer;
  text-decoration: underline rgb(0, 0, 0, 0);
}

.wrap-btn_serviceL span {
  color: #ff7506;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

.d-flex {
  display: flex;
}

.gap-24 {
  gap: 24px;
}
