.wrapper_detailA {
  padding: 0 24px;
}
.heading_detailA {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #ff7506;
  margin: 16px 0;
}
.wrap-content_detailA {
  height: 550px;
  padding: 16px 24px;
  background-color: #ffffff;
  box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
  border-radius: 16px;
  margin-right: 40px;
}
.sub-heading_detailA {
  color: #ff7506;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 20px;
}
.wrap-info_detailA {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
}
.info_detailA {
  width: calc(50% - 12px);
}
.title_detailA {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
}
.required_detailA {
  height: 18px;
  color: red;
}
.ant-input-affix-wrapper,
.ant-input {
  text-overflow: ellipsis;
  border: 1.5px solid #d4d4d7;
  border-radius: 8px;
  padding: 8.5px 12px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  width: 100%;
}
.note_detailA {
  margin-top: 10px;
  font-weight: 300;
  font-size: 1rem;
}
.wrap-button_detailA{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 24px;
    margin-bottom: 32px;
   
}
.btn-cancel_detailA{
    width: 147px;
    height: 48px;
    padding: 12px;
    text-align: center;
    line-height: 22px;
    color: #ffac6a;
    background-color: #ffffff;
    border: 1.5px solid #ffac6a;
     border-radius: 8px;
}
.btn-add_detailA{
width: 147px;
    height: 48px;
    padding: 12px;
    text-align: center;
    line-height: 22px;
        background-color: #ffac6a;
    color: #ffffff;
     border-radius: 8px;
     border: none;
}

.ant-select{
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    font-feature-settings: 'tnum';
}
/* .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    border: 1.5px solid #d4d4d7;
    border-width: 1.5px !important;
    border-radius: 8px;
} */