.wrapper_ForPass {
  display: flex;
  align-items: center;
  height: 100vh;
}
.content-left_ForPass {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
}
.content-left_wrap_ForPass {
  width: 400px;
  margin: 82px auto 0;
}
.content-left_wrap_ForPass label {
  margin-bottom: 4px;
  display: inline-block;
}
.content-left_wrap_ForPass .input {
  border-width: 1.5px;
  border-radius: 8px;
  padding: 6.5px 12px;
  font-size: 1.8rem;
  font-weight: 400;
}
.img-logo_ForPass {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 102px;
}
.title_ForPass {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
}
.confirm_ForPass {
  margin-top: 16px;
}
.error-message_ForPass {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 24px;
  color: color red;
  margin-top: 8px;
  text-align: left;
}
.wrap-button_ForPass {
  gap: 24px;
  margin-top: 16px;
}
.btn-confirm_ForPass {
  width: 162px;
  background-color: #ffac6a;
  color: #ffffff;
  margin-left: 100px;
}

.content-right_ForPass {
  width: 1100px;
  margin-left: 43px;
  text-align: center;
  align-items: center;
}
