.wrapper_Topbar {
  position: relative;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  z-index: 1;
  text-decoration: underline darkblue;
}

.path_Topbar {
  padding-left: 24px;

}

.user-wrap_Topbar {
  width: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 64px;
}

.btn-notify.clicked {
  color: #ffffff;
  background-color: #ff7506;
}
.btn-notify:hover {
  color: #ffffff;
  background-color: #ff7506;
}
.btn-notify:focus {
  color: #ffac6a;
  background-color: #fff2e7;
}

.btn-notify {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffac6a;
  background-color: #fff2e7;
  border: none;
  margin-right: 24px;
}
.avatar_Topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-right: 8px;
  width: 40px;
  height: 40px;
  background-color: #ff7506;
  text-decoration: none;
}

.info_Topbar {
  display: flex;
  flex-direction: column;
}

.greet_Topbar {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #7e7d88;
  text-decoration: underline white;
}

.user-name_Topbar {
  font-weight: 700;
  line-height: 1.5rem;
  color: #535261;
  text-decoration: underline white;
}
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.span_topbar {
  text-decoration: underline #ff7506;
}
.ant-avatar.ant-avatar-icon {
    font-size: 18px;
    margin-top: -10px;
}
