.wrapper_detailD {
  position: relative;
  margin-right: 80px;
  margin-left: 20px;
}
.heading_detailD {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 20px;
  color: #ff7506;
}
.wrap-info_detailD {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
  height: 550px;
  padding: 16px 24px;
}
.wrap-btn_detailD {
  right: -104px;
}
.wrap-content_detailD {
  align-items: center;
  gap: 4px;
  margin-bottom: 8px;
  position: relative;
  margin-right: 80px;
  height: 550px;
  padding: 16px 24px;
  background-color: #ffffff;
  box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
  border-radius: 16px;
}

.title_detailD {
  min-width: 150px;
}
.sub-heading_detailD {
  color: #ff7506;
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 20px;
}
.info_detailD {
  width: calc(50% - 12px);
}
.title_detailD {
  display: inline-block;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 4px;
  min-width: 150px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 8px;
}
.wrap-btn_detailD {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 4px;
  top: 0;
  right: -104px;
  width: 80px;
  background-color: #fff2e7;
  padding: 14px 4px;
  box-shadow: 0px 0px 6px #e7e9f2;
  border-radius: 8px 0px 0px 8px;
  cursor: pointer;
  color: #ff7506;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-decoration: underline #e7e9f2;
}
