.label1EForgotPass {
  color: #282739, #282739;
  font-family: Nunito;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
}

.label2EForgotPass {
  color: #37474f;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.bg_Eforgotpass {
  background-color: #f6f6f6;
  min-height: 1000px;
}
.btn_Cancel {
  width: 162px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #ff9138;
  box-shadow: 0px 0px 6px 0px #e7e9f2;
  color: #ff9138;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.btn_EForgotPass {
  border: none;
  border-radius: 8px;
  background: #ff9138;
  box-shadow: 0px 0px 6px 0px #e7e9f2;
  color: white;
  display: flex;
  width: 162px;
  height: 40px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.img_bgEForgotPass {
  width: 711px;
  height: 560px;
  flex-shrink: 0;
  margin-top: 150px;
  margin-left: 100px;
}
