.wrapper_menu {
  width: 300px;
  height: calc(100% - 66px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 54px;
  margin: 32px 0 30px;
  background-color: white;
  color: #7e7d88;
}
.logo_menu {
  display: flex;
  padding-bottom: 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.menubar {
  flex: 1;
}
.btn-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 1em 1em;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ff7506;
  background: #fff2e7;
  border-radius: 8px;
  border: none;
}

