.ant-menu-item-icon,
.ant-menu-submenu-expand-icon {
  color: #a9a9b0;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0%;
}

.ant-menu-vertical .ant-menu-item:hover,
.ant-menu-vertical .ant-menu-item-active,
.ant-menu-vertical-left .ant-menu-submenu-selected,
.ant-menu-vertical-right .ant-menu-submenu-selected,
.ant-menu-submenu-active,
.ant-menu-submenu-active .ant-menu-item-icon,
.ant-menu-submenu-active .ant-menu-title-content,
.ant-menu-submenu-active .ant-menu-title-content {
  color: #ff7506;
  background-color: #fff2e7;
  border-radius: 0%;
}

.ant-menu-title-content {
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  border-radius: 0%;
}

.ant-menu-item .ant-menu-item-icon + span {
  margin-left: 8px;
}
.ant-menu-vertical .ant-menu-submenu .ant-menu-submenu-title,
.ant-menu-vertical .ant-menu-item {
  display: flex;
  align-items: center;
  height: 48px;
  padding-left: 16px !important;
  margin: 0 !important;
  color: #7e7d88;
  border-radius: 0%;
}

.ant-menu-submenu.ant-menu-submenu-selected,
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #ff7506;
  color: #ffffff;
}

.ant-menu-submenu-active .ant-menu-submenu-expand-icon,
.ant-menu-submenu-title:hover .ant-menu-item-icon,
.ant-menu-submenu-title:hover .ant-menu-title-content,
.ant-menu-vertical .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-vertical .ant-menu-submenu-title:hover .ant-menu-submenu-expand-icon,
.ant-menu-vertical .ant-menu-submenu-selected .ant-menu-title-content,
.ant-menu-vertical .ant-menu-submenu-selected .ant-menu-item-icon,
.ant-menu-vertical .ant-menu-item:hover .ant-menu-item-icon {
  color: #ff7506;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0%;
}
.ant-menu-submenu-selected .ant-menu-submenu-expand-icon,
.ant-menu-submenu.ant-menu-submenu-selected .ant-menu-item-icon,
.ant-menu-submenu.ant-menu-submenu-selected .ant-menu-title-content,
.ant-menu-submenu.ant-menu-submenu-selected.ant-menu-submenu-active
  .ant-menu-submenu-expand-icon {
  color: #ffffff;
  border-radius: 0%;
}

.ant-menu:not(.ant-menu-horizontal)
  .ant-menu-item-selected
  .ant-menu-item-icon {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0%;
}
.ant-menu-title-content {
  font-size: 1rem;
}
ul.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-light.menubar.css-dev-only-do-not-override-fpg3f5 {
  border-inline-end: 1px solid rgb(0, 0, 0, 0);
}
